{% extends "base.html" %}

{% load i18n %}

{% block content_wrapper %}
    <div class="container-fluid page">
        <div class="page_inner">
            <div class="row">

                <div class="lfpadding col-md-2">
                    {% block column_left %}{% endblock %}
                </div>

                <div class="lfpadding col-md-10">
                    

                    {% include "partials/alert_messages.html" %}
                    
                    <div id="promotions">
                        
                    </div>

                    {% block right_content %}{% endblock %}
                </div>

        </div><!-- /row -->
    </div><!-- /page_inner -->
</div><!-- /container-fluid -->
{% endblock %}