{% extends "base.html" %}

{% load i18n %}
{% load has_fake_note %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
<h2>讓分</h2>
<ul>
    <li>將弱隊(受讓方)加上盤分即可(盤分為運彩公司設定)</li>
    <li>加總後分數多的一方則贏得彩金</li>
</ul>
<br >
<h5>例如:</h5>
<p>
    兄弟象(強隊)-2.5，統一獅(弱隊)+2.5，比分兄弟6:4統一，受讓方統一加上讓的2.5分後勝出
</p>
<br >

<h2>不讓分</h2>
<ul>
    <li>直接比較分數</li>
</ul>
<br >
<h5>例如:</h5>
<p>
    兄弟6:4統一，壓兄弟象者勝出
</p>
<br >
<h2>大小分</h2>

<ul>
    <li>無關勝負，只比較兩隊得分總和</li>
    <li>正確猜中兩隊得分比總和比盤分大或小(盤分由運彩公司設定)，即可贏走彩金</li>
</ul>
<br >
<h5>例如:</h5>
<p>
    兄弟6:4統一，總分(10)＜預測盤分(12)，壓小分者得勝。反之，若預測盤分為9，壓大分者為勝。
</p>
<br >

<h2>勝分差</h2>
<ul>
    <li>勝隊分數比敗隊分數多出幾分？</li>
    <li>不但要猜哪隊勝出，還要猜勝出幾分</li>
</ul>
<br >
<h5>例如:</h5>
<p>
    兄弟6:4統一，壓兄弟象贏統一兩分者才能獲得彩金
</p>
{% endblock %}