{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
<h2><b>A.	會員分級機制：</b></h2>
<p>
    在會員申請完之後，每個人都會有個階級(在資料庫新增這個欄位)，目前位階設計如下：(四種投注方式，一種成功即算一次)
</p>
<br>
<p>I.	無任何投注紀錄：等級一</p>
<p>II.	累計50次以上成功獲勝：等級二</p>
<p>III.	累計100次以上成功獲勝，且勝率不超過50%：等級二</p>
<p>IV.	累計100次以上成功獲勝，且勝率超過50%：等級三</p>
<p>V.	累計150次以上成功獲勝，且勝率不超過50%：等級三</p>
<p>VI.	累計150次以上成功獲勝，且勝率超過50%：等級四</p>
<p>VII.	累計200次以上成功獲勝，且勝率不超過50%：等級四</p>
<p>VIII.	累計200次以上成功獲勝，且勝率超過50%：等級五</p>
<br>
<p>→正式成為等級二以上者可以歸入每月勝率排行榜</p>
<p>→每月勝率排行前十給予10~20的金幣獎勵</p>

<br>

<h2><b>B.	金幣獎賞機制：</b></h2>
<b>獲得金幣規則： </b>
<p>I.	當每個會員申辦帳號，先給4個金幣，若是帳戶低於4個則系統會自動每天早上6點補滿4個</p>
<p>II.	虛擬投注成功後系統會發放金幣</p>
<p>III.	金幣可用來購買想要的玩家的虛擬投注組合，需要花費對方等級相同數目的金幣才能購買1種組合</p>
<p>IV.	虛擬投注組合的被購買方也能得到相同與自己等級相同數目的金幣，</p>
<p>V.	另外，金幣也能使用金錢購買，10塊錢能買1金幣</p>
<br>
<p>購買等級一玩家四種組合者：一種玩法需要1枚金幣，四種共4個</p>
<p>購買等級二玩家四種組合者：一種玩法需要2枚金幣，四種共8個</p>
<p>購買等級三四種組合者：一種玩法需要3枚金幣，四種共12個</p>
<br>
<h2><b>C.	虛擬投注玩法：</b></h2>
<p>I.	投注：每場比賽的虛擬投注有四種玩法，每種玩法一場比賽需要1個金幣</p>
<p>III.	投注成功：玩家成功投注一種玩法可得2個金幣，四種玩法最多可得8個金幣</p>
<p>IV.	獎勵：會員於每日下午1點前即完成虛擬投注，給與1個金幣獎勵，開賽後即不可以再進行虛擬投注。</p>

{% endblock %}