<a id='realNote' type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg">記錄筆記</a>
<a href="{% url 'main:t2'%}">運彩投注說明</a>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header" style="background:#337ab7;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">記錄筆記</h4>
      </div>

      <form action="{% url 'customer2:real' request.user.username %}" method="post">
          {% csrf_token %}

        <div class="modal-body" style="padding: 30px;">
            {{ form.non_field_errors }}

            <div class="form-group">
                <label for="{{ form.betting.id_for_betting }}">我要投注:</label>
                {{ form.betting }}
                {{ form.betting.errors }}
            </div>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#lp" aria-controls="lp" role="tab" data-toggle="tab">讓分</a></li>
                <li role="presentation"><a href="#nlp" aria-controls="nlp" role="tab" data-toggle="tab">不讓分</a></li>
                <li role="presentation"><a href="#bs" aria-controls="bs" role="tab" data-toggle="tab">大小分</a></li>
                
            </ul>

             <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="lp">
                    <div class="form-group" style="padding-right: 80%;">
                        <label for="{{ form.lp_home_team.id_for_lp_home_team }}">投注主場:</label>
                        {{ form.lp_home_team }}
                        {{ form.lp_home_team.errors }}
                    </div>
                    <div class="form-group" style="padding-right: 80%;">
                        <label for="{{ form.lp_away_team.id_for_lp_away_team }}">投注客場:</label>
                        {{ form.lp_away_team }}
                        {{ form.lp_away_team.errors }}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="nlp">
                    <div class="form-group" style="padding-right: 80%;">
                        <label for="{{ form.nlp_home_team.id_for_nlp_home_team }}">投注主場:</label>
                        {{ form.nlp_home_team }}
                        {{ form.nlp_home_team.errors }}
                    </div>
                    <div class="form-group" style="padding-right: 80%;">
                        <label for="{{ form.nlp_away_team.id_for_nlp_away_team }}">投注客場:</label>
                        {{ form.nlp_away_team }}
                        {{ form.nlp_away_team.errors }}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="bs">
                    <div class="form-group" style="padding-right: 80%;">
                        <label for="{{ form.big.id_for_big }}">投注大分:</label>
                        {{ form.big }}
                        {{ form.big.errors }}
                    </div>
                    <div class="form-group" style="padding-right: 80%;">
                        <label for="{{ form.small.id_for_small }}">投注小分:</label>
                        {{ form.small }}
                        {{ form.small.errors }}
                    </div>                   
                </div>
                
                
            </div>


        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">離開</button>
            <button type="submit" class="btn btn-primary">記錄筆記</button>
        </div>

      </form>

    </div>
  </div>
</div>

<script>
    {% if form.errors %}
        $('#realNote').click();
    {% endif %}
</script>