<div class="footer">
		<div class="container">
			<div class="agileits_w3layouts_footer_grids">
				<div class="col-md-4 w3_agileits_footer_grid">
					<h3>關於我們</h3>
					<p>BFB團隊創立於2017年初，致力於提供簡單易懂的數據幫助玩家分析，並希望玩家們能透過我們的虛擬金幣系統，進行線上虛擬的投注，進而幫助其實際投注成功的比率。<span>此外我們更開發突破性的實際筆記記錄功能，玩家將可隨時隨地記錄自身的賭注紀錄，透果我們的討論區，跟更多玩家進行交流。</span></p>
				</div>
				<div class="col-md-4 w3_agileits_footer_grid">
					<h3>聯絡資訊</h3>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>348 Melrose Place, 4th block, <span>Brazil.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
					</ul>
				</div>
				
				<div class="col-md-4 w3_agileits_footer_grid">
					<h3>聯絡我們</h3>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Email" required="">
						<input type="submit" value="Send">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="wthree_copy_right">
		<div class="container">
			<p>&copy; 2017 Bet For Baseball. All rights reserved | Design by <a href="#">BFB</a></p>
			<div class="w3_agile_social_icons">
				<ul>
					<li><a href="#" class="icon icon-cube agile_facebook"></a></li>
					<li><a href="#" class="icon icon-cube agile_rss"></a></li>
					<li><a href="#" class="icon icon-cube agile_instagram"></a></li>
					<li><a href="#" class="icon icon-cube agile_t"></a></li>
				</ul>
			</div>
		</div>
	</div>