<div id="header">
		<div>
			<div class="logo">
				<a href="#">資管全壘打</a>
			</div>
			<ul id="navigation">
				<li class="active">
					<a href="{% url 'main:home' %}">首頁</a>
				</li>
				<li>
					<a href="#">投注</a>
					<div class='submenu'>
						<a href="{% url 'betting:prediction' %}">投注資訊</a>
						<a href="#">數據分析</a>
					</div>
				</li>
				<li>
					<a href="#">球隊</a>
					<div class='submenu'>
						<a href="{% url 'team:team1' %}">介紹</a>
						<a href="#">賽程</a>
						<a href="{% url 'team:stat1' %}">球隊戰績</a>
					</div>
				</li>
				<li>
					<a href="#">球員</a>
				</li>
				<li>
					<a href="{% url 'forum:index' %}">討論區</a>
				</li>
			</ul>
		</div>
	</div>