{% extends "customer/profile_layout.html" %}

{% load i18n %}
{% load has_buyed %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block right_content %}
{% if user == request.user %}
    <a id href="{% url 'betting:prediction' %}" class="btn btn-primary btn-sm">虛擬投注</a>
{% endif %}
<br />
<br />
{% if notes %}
<table class="table table-bordered">
  <tr>
      <th>賽事編號</th>
      <th>球隊</th>
      <th>讓分</th>
      <th>不讓分</th>
      <th>大小分</th>
      <th>勝分差</th>
      <th>金幣</th>
  </tr>
  {% for note in notes %}
  {% with game=note.betting.game betting=note.betting %}
    <tr {% if game.is_final %}class="success"{% endif %}>
      <td>
          <h4>No.{{ game.game_no }}</h4>
          <p>{{ game.date }}</p>
      </td>
      <td>
        <p>主場: {{ game.home_team }}{% if game.is_final %}:<span style="color:red;">{{ game.home_team_score }}{% if game.winner == True %}(勝){% endif %}{% endif %}</span></p>
        <p>客場: {{ game.away_team }}{% if game.is_final %}:<span style="color:red;">{{ game.away_team_score }}{% if game.winner == False %}(勝){% endif %}{% endif %}</span></p>
      </td>
      <td>
        {% has_buyed request.user note 'lp' as lp %}
        {% if user == request.user or lp %}
            <label>{% if betting.home_team_PN == True %}+{% else %}-{% endif %}{{ betting.let_point_number }}({{ betting.lp_home_team_odds }})</label>                       
            <input type="checkbox" disabled {% if note.lp_team == True %}checked{% endif %}/>
            <br />
            <label>{% if betting.home_team_PN == False %}+{% else %}-{% endif %}{{ betting.let_point_number }}({{ betting.lp_away_team_odds }})</label>                            
            <input type="checkbox" disabled {% if note.lp_team == False %}checked{% endif %}>
        {% else %}
            <form action="{% url 'customer:purchase' %}" method='POST'>
                {% csrf_token %}
                <input type='hidden' value='lp' name='buy_for'/>
                <input type='hidden' value='{{ note.id }}' name='buy_note'/>
                <input type='hidden' value='1' name='cost'/>
                <input type='submit' value='1金幣購買'/>
            </form>
        {% endif %}   
      </td>
      <td class="checkboxGroup change_nlp">
          {% has_buyed request.user note 'nlp' as nlp %}
          {% if user == request.user or nlp %}
            <label>({{ betting.nlp_home_team_odds }})</label>                       
            <input type="checkbox" disabled {% if note.nlp_team == True %}checked{% endif %}/>
            <br />
            <label>({{ betting.nlp_away_team_odds }})</label>                            
            <input type="checkbox" disabled {% if note.nlp_team == False %}checked{% endif %}/>
        {% else %}
            <form action="{% url 'customer:purchase' %}" method='POST'>
                {% csrf_token %}
                <input type='hidden' value='nlp' name='buy_for'/>
                <input type='hidden' value='{{ note.id }}' name='buy_note'/>
                <input type='hidden' value='1' name='cost'/>
                <input type='submit' value='1金幣購買'/>
            </form>
        {% endif %}   
      </td>
      <td class="checkboxGroup change_bs">
          {% has_buyed request.user note 'bs' as bs %}
          {% if user == request.user or bs %}
            <label>{{ betting.big_small_point_number }}({{ betting.big_odds }})</label>                       
            <input type="checkbox" disabled {% if note.b_or_s == True %}checked{% endif %}/>
            <br />
            <label>{{ betting.big_small_point_number }}({{ betting.small_odds }})</label>                            
            <input type="checkbox" disabled {% if note.b_or_s == False %}checked{% endif %}/>
        {% else %}
            <form action="{% url 'customer:purchase' %}" method='POST'>
                {% csrf_token %}
                <input type='hidden' value='bs' name='buy_for'/>
                <input type='hidden' value='{{ note.id }}' name='buy_note'/>
                <input type='hidden' value='1' name='cost'/>
                <input type='submit' value='1金幣購買'/>
            </form>
        {% endif %}   
      </td>
      <td>
          {% has_buyed request.user note 'wdp' as wdp %}
          {% if user == request.user or wdp %}
          <br />
          <select class='change_wdp' disabled>
              <option {% if note.wpd_num == 1 %}selected{% endif %}>剩分差1({{ betting.odds1 }})</option>
              <option {% if note.wpd_num == 2 %}selected{% endif %}>剩分差2({{ betting.odds2 }})</option>
              <option {% if note.wpd_num == 3 %}selected{% endif %}>剩分差3({{ betting.odds3 }})</option>
              <option {% if note.wpd_num == 4 %}selected{% endif %}>剩分差4({{ betting.odds4 }})</option>
              <option {% if note.wpd_num == 5 %}selected{% endif %}>剩分差5({{ betting.odds5 }})</option>
              <option {% if note.wpd_num == 6 %}selected{% endif %}>剩分差6({{ betting.odds6 }})</option>
              <option {% if note.wpd_num == 7 %}selected{% endif %}>剩分差7({{ betting.odds7 }})</option>
              <option {% if note.wpd_num == 8 %}selected{% endif %}>剩分差8({{ betting.odds8 }})</option>
              <option {% if note.wpd_num == 9 %}selected{% endif %}>剩分差9({{ betting.odds9 }})</option>
          </select>
          {% else %}
            <form action="{% url 'customer:purchase' %}" method='POST'>
                {% csrf_token %}
                <input type='hidden' value='wdp' name='buy_for'/>
                <input type='hidden' value='{{ note.id }}' name='buy_note'/>
                <input type='hidden' value='1' name='cost'/>
                <input type='submit' value='1金幣購買'/>
            </form>
        {% endif %}   
      </td>
      <td>
        {% if game.is_final %}
            {{ note.get_coin }}
        {% else %}
            <p>尚未比賽</p>
        {% endif %}
      </td>
  </tr>
  {% endwith %}
  {% endfor %}
</table>
{% else %}
<p>目前沒有筆記</p>
{% endif %}

{% endblock %}