{% extends "layout2.html" %}

{% load i18n %}

{% block title %}{{ request.user.username }} Profile{% endblock %}

{% block column_left %}
    <ul class="nav nav-pills nav-stacked">
            <li{% if active_tab == 'profile' %} class="active"{% endif %}>
                <a href="{% url 'customer:profile' user.username %}">個人資料</a>
            </li>
            {% if user == request.user %}
                <li{% if active_tab == 'real' %} class="active"{% endif %}>
                    <a href="{% url 'customer:real' user.username %}">真實投注筆記</a>
                </li>
                <li{% if active_tab == 'coin' %} class="active"{% endif %}>
                    <a href="{% url 'customer:coin' user.username %}">金幣花費資訊</a>
                </li>
            {% endif %}
            <li{% if active_tab == 'fake' %} class="active"{% endif %}>
                <a href="{% url 'customer:fake' user.username %}">虛擬投注記錄</a>
            </li>
             <li{% if active_tab == 'forum' %} class="active"{% endif %}>
                <a href="#">發表文章</a>
            </li>
    </ul>
{% endblock %}