{% extends "customer/profile_layout.html" %}

{% load i18n %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block right_content %}

{% include "customer/partials/real_note_create_form.html" %}
<br />
<br />
{% if notes %}
<table class="table table-bordered">
  <tr>
      <th>賽事編號</th>
      <th>讓分</th>
      <th>不讓分</th>
      <th>大小分</th>
      <th>勝分差</th>
      <th>總合</th>
  </tr>
  {% for note in notes %}
    <tr {% if note.betting.game.gamedata %}class="success"{% endif %}>
      <th>
        <h4>No. {{ note.betting.game.game_no }}</h4>
        <p>主場: {{ note.betting.game.home_team }}-{{ note.betting.game.gamedata.home_team_score }}<span style="color:red;">{% if note.betting.game.home_team == note.betting.game.gamedata.winner %}(勝){% endif %}</span></p>
        <p>客場: {{ note.betting.game.away_team }}-{{ note.betting.game.gamedata.away_team_score }}<span style="color:red;">{% if note.betting.game.away_team == note.betting.game.gamedata.winner %}(勝){% endif %}</span></p>
      </th>
      <th>
        <h4>讓分數: {{ note.betting.letpoint.let_point_number }}</h4>
        <p>主場投注: {{ note.lp_home_team }}({{ note.betting.letpoint.home_team_odds }})</p>
        <p>客場投注: {{ note.lp_away_team }}({{ note.betting.letpoint.away_team_odds }})</p>
      </th>
      <th>
        <br />
         <br />
        <p>主場投注: {{ note.nlp_home_team }}({{ note.betting.noletpoint.home_team_odds }})</p>
        <p>客場投注: {{ note.nlp_away_team }}({{ note.betting.noletpoint.away_team_odds }})</p>
      </th>
      <th>
          <h4>大小分數: {{ note.betting.bigsmallpoint.big_small_point_number }}</h4>
        <p>主場投注: {{ note.big }}({{ note.betting.bigsmallpoint.big_odds }})</p>
        <p>客場投注: {{ note.small }}({{ note.betting.bigsmallpoint.small_odds }})</p>

      </th>
      <th>
          {% if not note.wpd1 == 0 %}
            <p>勝分差1投注: {{ note.wpd1 }}({{ note.betting.winpointdiff.odds1 }})</p>
          {% endif %}
          {% if not note.wpd2 == 0 %}
            <p>勝分差2投注: {{ note.wpd2 }}({{ note.betting.winpointdiff.odds2 }})</p>
          {% endif %}
          {% if not note.wpd3 == 0 %}
            <p>勝分差3投注: {{ note.wpd3 }}({{ note.betting.winpointdiff.odds3 }})</p>
          {% endif %}
          {% if not note.wpd4 == 0 %}
            <p>勝分差4投注: {{ note.wpd4 }}({{ note.betting.winpointdiff.odds4 }})</p>
          {% endif %}
          {% if not note.wpd5 == 0 %}
            <p>勝分差5投注: {{ note.wpd5 }}({{ note.betting.winpointdiff.odds5 }})</p>
          {% endif %}
           {% if not note.wpd6 == 0 %}
            <p>勝分差6投注: {{ note.wpd6 }}({{ note.betting.winpointdiff.odds6 }})</p>
          {% endif %}
           {% if not note.wpd7 == 0 %}
            <p>勝分差7投注: {{ note.wpd7 }}({{ note.betting.winpointdiff.odds7 }})</p>
          {% endif %}
           {% if not note.wpd8 == 0 %}
            <p>勝分差8投注: {{ note.wpd8 }}({{ note.betting.winpointdiff.odds8 }})</p>
          {% endif %}
           {% if not note.wpd9 == 0 %}
            <p>勝分差9投注: {{ note.wpd9 }}({{ note.betting.winpointdiff.odds9 }})</p>
          {% endif %}

      </th>
      <th>總合

      </th>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>目前沒有筆記</p>
{% endif %}

{% endblock %}