{% extends "customer/profile_layout.html" %}

{% load i18n %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block right_content %}

{% include "customer/partials/real_note_create_form.html" %}
<br />
<br />
{% if notes %}
<table class="table table-bordered">
  <tr>
      <th>賽事編號</th>
      <th>讓分</th>
      <th>不讓分</th>
      <th>大小分</th>
      <th>勝分差</th>
      <th>總合</th>
  </tr>
  {% for note in notes %}
  {% with game=note.betting.game betting=note.betting %}
    <tr {% if game.is_final %}class="success"{% endif %}>
      <td>
        <h4>No.{{ game.game_no }}</h4>
        <p>主場: {{ game.home_team }} - <span style="color:red;">{{ game.home_team_score }}{% if game.winner == True %}(勝){% endif %}</span></p>
        <p>客場: {{ game.away_team }} - <span style="color:red;">{{ game.away_team_score }}{% if game.winner == False %}(勝){% endif %}</span></p>
      </td>
      <td>
        <h4>讓分數: {{ betting.let_point_number }}</h4>
        <p>主場投注: {{ note.lp_home_team }}({{ betting.lp_home_team_odds }})</p>
        <p>客場投注: {{ note.lp_away_team }}({{ betting.lp_away_team_odds }})</p>
      </td>
      <td>
        <br />
         <br />
        <p>主場投注: {{ note.nlp_home_team }}({{ betting.nlp_home_team_odds }})</p>
        <p>客場投注: {{ note.nlp_away_team }}({{ betting.nlp_away_team_odds }})</p>
      </td>
      <td>
          <h4>大小分數: {{ betting.big_small_point_number }}</h4>
        <p>主場投注: {{ note.big }}({{ betting.big_odds }})</p>
        <p>客場投注: {{ note.small }}({{ betting.small_odds }})</p>

      </td>
      <td>
          {% if not note.wpd1 == 0 %}
            <p>勝分差1投注: {{ note.wpd1 }}({{ betting.h_odds1 }})</p>
          {% endif %}
          {% if not note.wpd2 == 0 %}
            <p>勝分差2投注: {{ note.wpd2 }}({{ betting.h_odds2 }})</p>
          {% endif %}
          {% if not note.wpd3 == 0 %}
            <p>勝分差3投注: {{ note.wpd3 }}({{ betting.h_odds3 }})</p>
          {% endif %}
          {% if not note.wpd4 == 0 %}
            <p>勝分差4投注: {{ note.wpd4 }}({{ betting.h_odds4 }})</p>
          {% endif %}
          {% if not note.wpd5 == 0 %}
            <p>勝分差5投注: {{ note.wpd5 }}({{ betting.h_odds5 }})</p>
          {% endif %}
           {% if not note.wpd6 == 0 %}
            <p>勝分差6投注: {{ note.wpd6 }}({{ betting.h_odds6 }})</p>
          {% endif %}
           {% if not note.wpd7 == 0 %}
            <p>勝分差7投注: {{ note.wpd7 }}({{ betting.h_odds7 }})</p>
          {% endif %}
           {% if not note.wpd8 == 0 %}
            <p>勝分差8投注: {{ note.wpd8 }}({{ betting.h_odds8 }})</p>
          {% endif %}
           {% if not note.wpd9 == 0 %}
            <p>勝分差9投注: {{ note.wpd9 }}({{ betting.h_odds9 }})</p>
          {% endif %}

      </td>
      <td>
        {% if game.is_final %}
            {{ note.get_money }}
        {% else %}
            <p>尚未比賽</p>
        {% endif %}
      </td>
  </tr>
  {% endwith %}
  {% endfor %}
</table>
{% else %}
<p>目前沒有筆記</p>
{% endif %}

{% endblock %}