<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#lp" aria-controls="lp" role="tab" data-toggle="tab">讓分</a></li>
    <li role="presentation"><a href="#nlp" aria-controls="nlp" role="tab" data-toggle="tab">不讓分</a></li>
    <li role="presentation"><a href="#bs" aria-controls="bs" role="tab" data-toggle="tab">大小分</a></li>
    <li role="presentation"><a href="#wdp1" aria-controls="wdp1" role="tab" data-toggle="tab">主隊勝分差</a></li>
    <li role="presentation"><a href="#wdp2" aria-controls="wdp2" role="tab" data-toggle="tab">客隊隊勝分差</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="lp">
        <div class='row'>
            <div id="lp_chart1" style="float:left;"></div>
            <div id="lp_chart2" style="float:left;"></div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="nlp">
         <div class='row'>
            <div id="nlp_chart1" style="float:left;"></div>
            <div id="nlp_chart2" style="float:left;"></div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="bs">
        <div class='row'>
            <div id="bs_chart1" style="float:left;"></div>
            <div id="bs_chart2" style="float:left;"></div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="wdp1">
        <div class='row'>
            <div id="wdp1_chart1" style="float:left;"></div>
            <div id="wdp1_chart2" style="float:left;"></div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="wdp2">
        <div class='row'>
            <div id="wdp2_chart1" style="float:left;"></div>
            <div id="wdp2_chart2" style="float:left;"></div>
        </div>
    </div>
</div>

<style >
   
</style>

<script>
// lp
 Highcharts.chart('lp_chart1', {

    title: {
        text: '讓分投注情形(人數)'
    },

    xAxis: {
        categories: ['{{ game.home_team }}', '{{ game.away_team }}']
    },

    yAxis: {
        title: {
            text: '人數'
        }
    },

    series: [{
        type: 'column',
        colorByPoint: true,
        data: [{{ h_lp }}, {{ a_lp }}],
        showInLegend: false
    }]

});

Highcharts.chart('lp_chart2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '讓分投注情形(百分比)'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: '百分比',
        colorByPoint: true,
        data: [{
            name: '{{ game.home_team }}',
            y: {{ h_lp_p }}
        }, {
            name: '{{ game.away_team }}',
            y: {{ a_lp_p }},
            sliced: true,
            selected: true
        }]
    }]
});

//nlp

Highcharts.chart('nlp_chart1', {

    title: {
        text: '不讓分投注情形(人數)'
    },

    xAxis: {
        categories: ['{{ game.home_team }}', '{{ game.away_team }}']
    },

    yAxis: {
        title: {
            text: '人數'
        }
    },

    series: [{
        type: 'column',
        colorByPoint: true,
        data: [{{ h_nlp }}, {{ a_nlp }}],
        showInLegend: false
    }]

});

Highcharts.chart('nlp_chart2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '不讓分投注情形(百分比)'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: '百分比',
        colorByPoint: true,
        data: [{
            name: '{{ game.home_team }}',
            y: {{ h_nlp_p }}
        }, {
            name: '{{ game.away_team }}',
            y: {{ a_nlp_p }},
            sliced: true,
            selected: true
        }]
    }]
});

//bs

Highcharts.chart('bs_chart1', {

    title: {
        text: '大小分投注情形(人數)'
    },

    xAxis: {
        categories: ['大分', '小分']
    },

    yAxis: {
        title: {
            text: '人數'
        }
    },

    series: [{
        type: 'column',
        colorByPoint: true,
        data: [{{ b }}, {{ s }}],
        showInLegend: false
    }]

});

Highcharts.chart('bs_chart2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '大小分投注情形(百分比)'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: '百分比',
        colorByPoint: true,
        data: [{
            name: '大分',
            y: {{ b_p }}
        }, {
            name: '小分',
            y: {{ s_p }},
            sliced: true,
            selected: true
        }]
    }]
});

//wdp1

Highcharts.chart('wdp1_chart1', {

    title: {
        text: '主隊勝分差投注情形(人數)'
    },

    xAxis: {
        categories: ['勝分差1', '勝分差2', '勝分差3', '勝分差4', '勝分差5', '勝分差6', '勝分差7', '勝分差8', '勝分差9']
    },

    yAxis: {
        title: {
            text: '人數'
        }
    },

    series: [{
        type: 'column',
        colorByPoint: true,
        data: {{ h_wdp }},
        showInLegend: false
    }]

});

Highcharts.chart('wdp1_chart2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '主隊勝分差投注情形(百分比)'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: '百分比',
        colorByPoint: true,
        data: [
        {% for wdp_p in h_wdp_p %}   
        {
            name: '勝分差{{ forloop.counter }}',
            y: {{ wdp_p }}
            {% if forloop.counter == 1 %}
            ,sliced: true,
            selected: true
            {% endif %}
        }{% if not forloop.counter == 9 %}, {% endif %}
        {% endfor %}
        ]
    }]
});

//wdp2

Highcharts.chart('wdp2_chart1', {

    title: {
        text: '主隊勝分差投注情形(人數)'
    },

    xAxis: {
        categories: ['勝分差1', '勝分差2', '勝分差3', '勝分差4', '勝分差5', '勝分差6', '勝分差7', '勝分差8', '勝分差9']
    },

    yAxis: {
        title: {
            text: '人數'
        }
    },

    series: [{
        type: 'column',
        colorByPoint: true,
        data: {{ a_wdp }},
        showInLegend: false
    }]

});

Highcharts.chart('wdp2_chart2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '主隊勝分差投注情形(百分比)'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: '百分比',
        colorByPoint: true,
        data: [
        {% for wdp_p in a_wdp_p %}   
        {
            name: '勝分差{{ forloop.counter }}',
            y: {{ wdp_p }}
            {% if forloop.counter == 1 %}
            ,sliced: true,
            selected: true
            {% endif %}
        }{% if not forloop.counter == 9 %}, {% endif %}
        {% endfor %}
        ]
    }]
});



</script>