{% extends "base.html" %}

{% load i18n %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    {% for team in teams %}
	<div class='panel panel-default'>
    <div class='panel-heading'>
        <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold; color: navajowhite'>
            <a href="{{team.code}}">{{team.name}}</a>
        </p>
    </div>
    <div class='panel-body' style='font-family:微軟正黑體;background-color: white'>
        <div class="row">
            <div class="col-md-3"><img src='{{team.image.url}}' width='250' height='250'></div>
            <div class="col-md-8">
                <table class="table table-bordered">
                    <tr>
                        <th>年份</th>
                        <th>賽季</th>
                        <th>G</th>
                        <th>W</th>
                        <th>L</th>
                        <th>TIE</th>
                        <th>PCT</th>
                        <th>W(H)</th>
                        <th>L(H)</th>
                        <th>TIE(H)</th>
                        <th>W(A)</th>
                        <th>L(A)</th>
                        <th>TIE(A)</th>
                    </tr>
                    {% for stat in team.get_teamdata %} {% if forloop.counter0 < 2 %} <tr>
                        <th>{{stat.year}}</th>
                        <th>上半季</th>
                        <th>{{stat.Team_1_G}}</th>
                        <th>{{stat.Team_1_W}}</th>
                        <th>{{stat.Team_1_L}}</th>
                        <th>{{stat.Team_1_T}}</th>
                        <th>{{stat.Team_1_PCT}}</th>
                        <th>{{stat.Team_1_Whome}}</th>
                        <th>{{stat.Team_1_Lhome}}</th>
                        <th>{{stat.Team_1_Thome}}</th>
                        <th>{{stat.Team_1_Waway}}</th>
                        <th>{{stat.Team_1_Laway}}</th>
                        <th>{{stat.Team_1_Taway}}</th>
                        </tr>
                        <tr>
                            <th>{{stat.year}}</th>
                            <th>下半季</th>
                            <th>{{stat.Team_2_G}}</th>
                            <th>{{stat.Team_2_W}}</th>
                            <th>{{stat.Team_2_L}}</th>
                            <th>{{stat.Team_2_T}}</th>
                            <th>{{stat.Team_2_PCT}}</th>
                            <th>{{stat.Team_2_Whome}}</th>
                            <th>{{stat.Team_2_Lhome}}</th>
                            <th>{{stat.Team_2_Thome}}</th>
                            <th>{{stat.Team_2_Waway}}</th>
                            <th>{{stat.Team_2_Laway}}</th>
                            <th>{{stat.Team_2_Taway}}</th>
                        </tr>
                        {% endif %} {% endfor %}
                </table>
            </div>
        </div>
        <div class='panel-body' style='font-family:微軟正黑體; background-color: white'>
            <p>
                創立時間: {{team.date}}
            </p>
        </div>
    </div>
    </div>
    {% endfor %}
{% endblock %}