{% extends "customer2/profile_layout.html" %}

{% load i18n %}
{% load has_buyed %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block right_content %}
{% if user == request.user %}
    <a id href="{% url 'betting:prediction' %}" class="btn btn-default btn-sm">虛擬投注</a>
    <a href="{% url 'main:t1'%}" >投注玩法</a> | <a href="{% url 'main:t3'%}" >虛擬投注玩法</a>
{% endif %}
<br />
<br />
{% if notes %}
<table class="table table-bordered">
  <tr>
      <th>賽事編號</th>
      <th>球隊</th>
      <th>讓分</th>
      <th>不讓分</th>
      <th>大小分</th>
      <th>勝分差</th>
      <th>金幣</th>
  </tr>
  {% for note in notes %}
  {% with game=note.betting.game betting=note.betting %}
    <tr {% if game.is_final %}class="success"{% endif %}>
      <td>
          <h4>No.{{ game.game_no }}</h4>
          <p>{{ game.date }}</p>
      </td>
      <td>
        <p>主場: {{ game.home_team }}{% if game.is_final %}:<span style="color:red;">{{ game.home_team_score|default:'' }}{% if game.winner == True %}(勝){% endif %}{% endif %}</span></p>
        <p>客場: {{ game.away_team }}{% if game.is_final %}:<span style="color:red;">{{ game.away_team_score|default:'' }}{% if game.winner == False %}(勝){% endif %}{% endif %}</span></p>
      </td>
      <td>
        {% has_buyed request.user note 'lp' as lp %}
        {% if user == request.user or lp %}
            <label>{% if betting.home_team_PN == True %}+{% else %}-{% endif %}{{ betting.let_point_number }}({{ betting.lp_home_team_odds }})</label>                       
            <input type="checkbox" disabled {% if note.lp_team == True %}checked{% endif %}/>
            <br />
            <label>{% if betting.home_team_PN == False %}+{% else %}-{% endif %}{{ betting.let_point_number }}({{ betting.lp_away_team_odds }})</label>                            
            <input type="checkbox" disabled {% if note.lp_team == False %}checked{% endif %}>
        {% else %}
            <form action="{% url 'customer2:purchase' %}" method='POST' onsubmit="return CheckForm();">
                {% csrf_token %}
                <input type='hidden' value='lp' name='buy_for'/>
                <input type='hidden' value='{{ note.id }}' name='buy_note'/>
                <input type='hidden' value='{{ note.user.level }}' name='cost'/>
                <input type='submit' value='{{ note.user.level }}金幣購買' class="btn btn-default"/>
            </form>
        {% endif %}   
      </td>
      <td class="checkboxGroup change_nlp">
          {% has_buyed request.user note 'nlp' as nlp %}
          {% if user == request.user or nlp %}
            <label>({{ betting.nlp_home_team_odds }})</label>                       
            <input type="checkbox" disabled {% if note.nlp_team == True %}checked{% endif %}/>
            <br />
            <label>({{ betting.nlp_away_team_odds }})</label>                            
            <input type="checkbox" disabled {% if note.nlp_team == False %}checked{% endif %}/>
        {% else %}
            <form action="{% url 'customer2:purchase' %}" method='POST' onsubmit="return CheckForm();">
                {% csrf_token %}
                <input type='hidden' value='nlp' name='buy_for'/>
                <input type='hidden' value='{{ note.id }}' name='buy_note'/>
                <input type='hidden' value='{{ note.user.level }}' name='cost'/>
                <input type='submit' value='{{ note.user.level }}金幣購買' class="btn btn-default"/>
            </form>
        {% endif %}   
      </td>
      <td class="checkboxGroup change_bs">
          {% has_buyed request.user note 'bs' as bs %}
          {% if user == request.user or bs %}
            <label>{{ betting.big_small_point_number }}({{ betting.big_odds }})</label>                       
            <input type="checkbox" disabled {% if note.b_or_s == True %}checked{% endif %}/>
            <br />
            <label>{{ betting.big_small_point_number }}({{ betting.small_odds }})</label>                            
            <input type="checkbox" disabled {% if note.b_or_s == False %}checked{% endif %}/>
        {% else %}
            <form action="{% url 'customer2:purchase' %}" method='POST' onsubmit="return CheckForm();">
                {% csrf_token %}
                <input type='hidden' value='bs' name='buy_for'/>
                <input type='hidden' value='{{ note.id }}' name='buy_note'/>
                <input type='hidden' value='{{ note.user.level }}' name='cost'/>
                <input type='submit' value='{{ note.user.level }}金幣購買' class="btn btn-default"/>
            </form>
        {% endif %}   
      </td>
      <td>
          {% has_buyed request.user note 'wdp' as wdp %}
          {% if user == request.user or wdp %}
          <input type="checkbox" disabled {% if note.choice_team == True %}checked{% endif %}/>
                    <select disabled>
                        <option value=0>未選擇</option>
                        {% if note.choice_team == True %}
                        <option {% if note.wpd_num == 1 %}selected{% endif %}>剩分差1({{ betting.h_odds1 }})</option>
                        <option {% if note.wpd_num == 2 %}selected{% endif %}>剩分差2({{ betting.h_odds2 }})</option>
                        <option {% if note.wpd_num == 3 %}selected{% endif %}>剩分差3({{ betting.h_odds3 }})</option>
                        <option {% if note.wpd_num == 4 %}selected{% endif %}>剩分差4({{ betting.h_odds4 }})</option>
                        <option {% if note.wpd_num == 5 %}selected{% endif %}>剩分差5({{ betting.h_odds5 }})</option>
                        <option {% if note.wpd_num == 6 %}selected{% endif %}>剩分差6({{ betting.h_odds6 }})</option>
                        <option {% if note.wpd_num == 7 %}selected{% endif %}>剩分差7({{ betting.h_odds7 }})</option>
                        <option {% if note.wpd_num == 8 %}selected{% endif %}>剩分差8({{ betting.h_odds8 }})</option>
                        <option {% if note.wpd_num == 9 %}selected{% endif %}>剩分差9({{ betting.h_odds9 }})</option>
                        {% endif %}
                    </select>
                    <br />
                    <input type="checkbox" disabled {% if note.choice_team == False %}checked{% endif %}/>
                    <select disabled>
                        <option value=0>未選擇</option>
                        {% if note.choice_team == False %}
                        <option {% if note.wpd_num == 1 %}selected{% endif %}>剩分差1({{ betting.a_odds1 }})</option>
                        <option {% if note.wpd_num == 2 %}selected{% endif %}>剩分差2({{ betting.a_odds2 }})</option>
                        <option {% if note.wpd_num == 3 %}selected{% endif %}>剩分差3({{ betting.a_odds3 }})</option>
                        <option {% if note.wpd_num == 4 %}selected{% endif %}>剩分差4({{ betting.a_odds4 }})</option>
                        <option {% if note.wpd_num == 5 %}selected{% endif %}>剩分差5({{ betting.a_odds5 }})</option>
                        <option {% if note.wpd_num == 6 %}selected{% endif %}>剩分差6({{ betting.a_odds6 }})</option>
                        <option {% if note.wpd_num == 7 %}selected{% endif %}>剩分差7({{ betting.a_odds7 }})</option>
                        <option {% if note.wpd_num == 8 %}selected{% endif %}>剩分差8({{ betting.a_odds8 }})</option>
                        <option {% if note.wpd_num == 9 %}selected{% endif %}>剩分差9({{ betting.a_odds9 }})</option>
                        {% endif %}
                    </select>
          {% else %}
            <form action="{% url 'customer2:purchase' %}" method='POST' onsubmit="return CheckForm();">
                {% csrf_token %}
                <input type='hidden' value='wdp' name='buy_for'/>
                <input type='hidden' value='{{ note.id }}' name='buy_note'/>
                <input type='hidden' value='{{ note.user.level }}' name='cost'/>
                <input type='submit' value='{{ note.user.level }}金幣購買' class="btn btn-default"/>
            </form>
        {% endif %}   
      </td>
      <td>
        {% if game.is_final %}
            {% if game.home_team_score %}
                {{ note.get_coin }}{% if note.is_1h %}(+1){% endif %}
            {% else %}
                <p>更新中</p>
            {% endif %}
        {% else %}
            <p>尚未比賽</p>
        {% endif %}
      </td>
  </tr>
  {% endwith %}
  {% endfor %}
</table>
{% else %}
<p>目前沒有筆記</p>
{% endif %}

<script>
    function CheckForm(){
        if(confirm("確定要購買嗎？")==true)   
            return true;
        else  
            return false;
    };
</script>

{% endblock %}