{% extends "customer2/profile_layout.html" %}

{% load i18n %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block right_content %}

<div class="col-md-9" style='left:50%;margin-left:-35%'>
    <div class="row">
      <div class="col-md-12">
        <div class="profile-content">
          <div class="panel panel-default">
            <div class="panel-heading">{% trans "Statistics" %}</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 divider text-center">
                  <div class="col-xs-12 col-sm-6 emphasis">
                    {% blocktrans count counter=profile.posts_count %}<h2><strong>{{ counter }}</strong></h2>
                    <p><small>Post</small></p>{% plural %}<h2><strong>{{ counter }}</strong></h2>
                    <p><small>Posts</small></p>{% endblocktrans %}
                  </div>
                  <div class="col-xs-12 col-sm-6 emphasis">
                    {% blocktrans count counter=topics_count %}<h2><strong>{{ counter }}</strong></h2>
                    <p><small>Topic</small></p>{% plural %}<h2><strong>{{ counter }}</strong></h2>
                    <p><small>Topics</small></p>{% endblocktrans %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row recent-posts">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">{% trans "Recent posts" %}{% if recent_posts %}&nbsp;(<a href="{% url 'forum_member:user_posts' profile.user_id %}">{% trans "View all" %}</a>){% endif %}</div>
          <div class="panel-body">
            {% for post in recent_posts %}
            <div class="row post">
              <div class="col-md-12 post-content-wrapper">
                <div class="post-title">
                  <a href="{% url 'forum_conversation:topic' post.topic.forum.slug post.topic.forum.pk post.topic.slug post.topic.pk %}?post={{ post.pk }}#{{ post.pk }}">{{ post.subject }}</a>
                </div>
                <p>
                  <small class="text-muted">
                    <i class="fa fa-clock-o"></i>&nbsp;{% blocktrans with creation_date=post.created %}On {{ creation_date }}{% endblocktrans %}
                  </small>
                </p>
                <div class="post-content">
                  {{ post.content.rendered|truncatechars_html:160 }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}