{% extends "customer2/profile_layout.html" %}

{% load staticfiles %}

{% load i18n %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block right_content %}
<div class="row">
    <div class="col-md-3">
        <div class="profile-sidebar">
        <div class="panel panel-default">
            {% if profile.avatar %}
            <div class="profile-avatar">
            <img src="{{ profile.avatar.url }}" class="img-responsive" alt="{{ profile.user.username }}" style="display:block; margin:auto;"/>
            </div>
            {% else %}
            <div class="profile-avatar empty">
            <img src="{% static 'image_not_found.jpg'%}" class="img-responsive" style="display:block; margin:auto;"/>
            </div>
            {% endif %}
            <div class="profile-username">
            <h3 class="text-center text-muted">{{ profile.user.username }}</h3>
            </div>
        </div>
        </div>
    {% if profile.user == request.user %}
    <a href="{%url 'forum_member:profile_update' %}" class="btn btn-block btn-primary">{% trans "Edit profile" %}</a>
    {% endif %}
  </div>
  <div class="col-md-9">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>名字</th>
                <td>{{ user.username|default:'-' }}</td>
            </tr>
            <tr>
                <th>信箱</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>註冊時間</th>
                <td>{{ user.date_joined }}</td>
            </tr>
            {% if user == request.user %}
             <tr>
                <th>金幣</th>
                <td>{{ user.coin }} - <a href="/shop/catalogue/category/jin-bi_1/">購買金幣</a>|<a href="{% url 'main:t3'%}">何謂金幣</a></td>
            </tr>
            {% endif %}
            <tr>
                <th>階級</th>
                <td>LV {{ user.level }} - <a href="{% url 'main:t3'%}">何謂等級</a></td>
            </tr>
            <tr>
                <th>讓分勝率</th>
                <td>{% if not user.lp_wp == 0 %}{{ user.lp_wp|default:'-' }}{% if user.lp_wp %}%{% endif %}{% else %}0%{% endif %}</td>
            </tr>
            <tr>
                <th>不讓分勝率</th>
                <td>{% if not user.nlp_wp == 0 %}{{ user.nlp_wp|default:'-' }}{% if user.nlp_wp %}%{% endif %}{% else %}0%{% endif %}</td>
            </tr>
            <tr>
                <th>大小分勝率</th>
                <td>{% if not user.bs_wp == 0 %}{{ user.bs_wp|default:'-' }}{% if user.bs_wp %}%{% endif %}{% else %}0%{% endif %}</td>
            </tr>
            <tr>
                <th>勝分差勝率</th>
                <td>{% if not user.wdp_wp == 0 %}{{ user.wdp_wp|default:'-' }}{% if user.wdp_wp %}%{% endif %}{% else %}0%{% endif %}</td>
            </tr>
            <tr>
                <th>總勝率</th>
                <td>{% if not user.all_wp == 0 %}{{ user.all_wp|default:'-' }}{% if user.all_wp %}%{% endif %}{% else %}0%{% endif %}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

{% endblock %}