{% extends "customer2/profile_layout.html" %}

{% load i18n %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}

{% block right_content %}

{% include "customer2/partials/real_note_create_form.html" %}
<br />
<br />
{% if notes %}
<table class="table table-bordered">
  <tr>
      <th>賽事編號</th>
      <th>球隊</th>
      <th>讓分</th>
      <th>不讓分</th>
      <th>大小分</th>
      <th>總合</th>
      <th>操作</th>
      <th>備註</th>
  </tr>
  {% for note in notes %}
  {% with game=note.betting.game betting=note.betting %}
    <tr {% if game.is_final %}class="success"{% endif %}>
      <td>
          <h4>No.{{ game.game_no }}</h4>
          <p>{{ game.date }}</p>
      </td>
      <td>
        <p>主場: {{ game.home_team }}{% if game.is_final %}:<span style="color:red;">{{ game.home_team_score|default:'' }}{% if game.winner == True %}(勝){% endif %}{% endif %}</span></p>
        <p>客場: {{ game.away_team }}{% if game.is_final %}:<span style="color:red;">{{ game.away_team_score|default:'' }}{% if game.winner == False %}(勝){% endif %}{% endif %}</span></p>
      </td>
      <td>
        <p>主場投注: {{ note.lp_home_team }} ({{ betting.lp_home_team_odds }})</p>
        <p>客場投注: {{ note.lp_away_team }} ({{ betting.lp_away_team_odds }})</p>
      </td>
      <td>
        <p>主場投注: {{ note.nlp_home_team }} ({{ betting.nlp_home_team_odds }})</p>
        <p>客場投注: {{ note.nlp_away_team }} ({{ betting.nlp_away_team_odds }})</p>
      </td>
      <td>
          
        <p>大分投注: {{ note.big }} ({{ betting.big_odds }})</p>
        <p>小分投注: {{ note.small }} ({{ betting.small_odds }})</p>

      </td>
      <td>
        {% if game.is_final %}
            <p>總獲得: {{ note.get_money }}<p>
            <p style="text-decoration:underline;">總投注: {{ note.total }}</p>
            <p>總利潤: {{ note.income }}</p>
        {% else %}
            <p>尚未比賽</p>
        {% endif %}
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            操作
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="{% url 'customer2:realu' user.username note.id %}">編輯</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'customer2:reald' user.username note.id %}">刪除</a></li>
          </ul>
        </div>
      </td>
      <td>
        <p>讓分數: {{ betting.let_point_number }}</p>
        <p>大小分數: {{ betting.big_small_point_number }}</p>
      </td>
  </tr>
  {% endwith %}
  {% endfor %}
</table>
{% else %}
<p>目前沒有筆記</p>
{% endif %}

{% endblock %}